<div id="entry-list">

<div class="row" style="margin-bottom:10px;">
		<input type="text" class="search form-control" placeholder="Search" />
</div>

<div class="row">
<table class="table table-striped">
	<thead>
		<tr>
			<th style="width:10%;"><span class="sort" data-sort="BOARD_TYPE">BOARD_TYPE</span></th>
			<th style="width:5%;"><span class="sort" data-sort="ID">ID</span></th>
			<th style="width:10%;"><span class="sort" data-sort="UID">UID</span></th>
			<th style="width:10%;"><span class="sort" data-sort="MCU">MCU</span></th>
			<th style="width:15%;"><span class="sort" data-sort="FEATURES">FEATURES</span></th>
			<th style="width:25%;"><span class="sort" data-sort="ADOPTERS">ADOPTERS</span></th>
			<th style="width:5%;"><span class="sort" data-sort="STATUS">STATUS</span></th>
			<th style="width:20%;"><span class="sort" data-sort="NOTES">NOTES</span></th>
		</tr>
	</thead>
	<tbody class="list">
	{% for post in site.posts %}
		<tr>
			<td class="BOARD_TYPE">{{ post.BOARD_TYPE }}</td>
			<td class="ID">{{ post.ID }}</td>
			<td class="UID">{{ post.UID }}</td>
			<td class="MCU">{{ post.MCU }}</td>
			<td class="FEATURES">{{ post.FEATURES | array_to_sentence_string }}</td>
			<td class="ADOPTERS">
                {% for mAdopter in post.ADOPTERS %}
                    - 
                    {% if mAdopter.ADOPTER[0].NAME contains "dennis" %}
                        <em>
                    {% endif %}
                    <!-- what s wrong with the array here?!? -->
                    {{mAdopter.ADOPTER[0].NAME}},
                    {% if mAdopter.ADOPTER[0].NAME contains "dennis" %}
                        </em>
                    {% endif %}
                    {{mAdopter.ADOPTER[1].MAIL}},
                    ( 
                    {{mAdopter.ADOPTER[2].BORROW}}
                     – 
                    {{mAdopter.ADOPTER[3].RETURN}}
                     ),
                    {{mAdopter.ADOPTER[4].COMMENT}}
                    <br/>
<!-- 
                    {% for mAdopterProp in mAdopter.ADOPTER %}
                        {{mAdopterProp.NAME}},
                        {{mAdopterProp.MAIL}},
                        {{mAdopterProp.BORROW}},
                        {{mAdopterProp.RETURN}},
                        {{mAdopterProp.COMMENT}},
                    {% endfor %}
                    <br/>
 -->
            	{% endfor %}
            </td>
            <td class="STATUS">
            {% if post.STATUS contains "AVAILABLE" %}
            <span style="color: #00FF44;">
            {% endif %}
            {{ post.STATUS }}
            {% if post.STATUS contains "AVAILABLE" %}
            </span>
            {% endif %}
            <td class="NOTES">{{ post.NOTES }}</td> <!--  | array_to_sentence_string  -->
            </td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>

</div>

<script type="text/javascript">
    var options = {
      valueNames: ['BOARD_TYPE', 'ID', 'UID', 'COLOR', 'MCU', 'ADOPTERS', 'STATUS']
    };
    var entryList = new List('entry-list', options);
</script>
